page-home {

}
.badge-md {
    width: 100%;
}
.green.badge-md{
    background-color: #8bc34a;
}
.tambolaTicket-w ion-row:not(:last-child){
    border-bottom: 1px solid;
}
.tambolaTicket-w ion-col:not(:last-child){
    border-right: 1px solid;
}
